<div class="wrapper">
    <div class="filterPanel">
        <!-- <h1>Hey {{user}}. Let's rediscover some tracks!</h1> -->

        <div class="filterSettings">
            <input type="date" [(ngModel)]="from">
            <!--[(ngModel)]="from" -->
            <input type="date" [(ngModel)]="to">
            <button (click)="filterByDate()">Get Tracks</button>
        </div>
        <div class="filteredTracks">

            <div class="card-grid">

                <div class="card" *ngFor="let track of filteredTracks">
                    <div id="checkiflocal">

                    </div>
                    <div class="front">
                        <div class="image" [ngStyle]="{'background-image': 'url(' + track.track.album.images[1].url + ')'}">
                            <!-- <img *ngIf="track.track.album.images" src="{{track.track.album.images[1].url}}" alt=""> -->
                        </div>
                        <div class="info">
                            <div class="extra_info">
                                <div class="date">
                                    <i class="far fa-calendar-alt"></i>
                                    <p>{{track.added_at}}</p>
                                </div>
                                <p>Playlist:</p>
                                <p>{{track.playlist.name}}</p>
                            </div>
                            <div class="main">
                                <h3 class="title">{{track.track.name}}</h3>
                                <p class="artist">{{track.track.artists[0].name}}</p>
                                <p class="album">{{track.album.name}}</p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
</div>