<div class="wrapper">
    <div class="center">
        <div class="filterPanel">
            <!-- <h1>Hey {{user}}. Let's rediscover some tracks!</h1> -->

            <div class="filterSettings">
                <input type="date" > <!--[(ngModel)]="from" -->
                <input type="date" > <!-- [(ngModel)]="to"-->
                <!-- <button (click)="filterByDate()">Get Tracks</button> -->
            </div>
            <div class="filteredTracks">

            </div>
        </div>
    </div>
</div>