/* *{
    outline: 1px solid red; 
} */
*{
    /* color:black; */
}
.heading{
  color: white;
}
.filterPanel{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.input1{
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  height: 100%;
  /* border: 1px solid grey;
  border-radius: 20px; */
}
.input1 input {
  appearance: none;
  outline: none;
  /* font-size:1em; */
  background-color: transparent;
  color: black;
  border: 1px solid grey;
  padding: 10px 0px 10px 10px;
  border-radius: 20px;
}
input::placeholder{
  color: black;
}
.filterSettings{
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  min-width: 800px;
  /* max-width: 900px;  */
  padding-top: 2vh;
  padding-bottom: 2vh;
  }
.settingsBox {
  /* margin-left: 2%;
  margin-right: 2%; */
}
.filterButton {
  background-color: #1db954;
  text-decoration: none;
  display: inline-block;
  margin: 0 .5% 0 .5%;
  cursor: pointer;
  font-weight: 700; 
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 30px 18px;
  -webkit-transition-property: background-color,border-color,color,-webkit-box-shadow,-webkit-filter;
  transition-property: background-color,border-color,color,-webkit-box-shadow,-webkit-filter;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-property: background-color,border-color,color,box-shadow,filter,-webkit-box-shadow,-webkit-filter;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  border-width: 0;
  text-transform: uppercase;
  white-space: normal;
  color: white;
}
.createPlaylistButton{
  background-color: #1db954;
  text-decoration: none;
  display: inline-block;
  margin: 0 .5% 0 .5%;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 30px 18px;
  transition-property: background-color,border-color,color,box-shadow,-webkit-filter;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-property: background-color,border-color,color,box-shadow,filter,-webkit-filter;
  transition-duration: .3s;
  border-width: 0;
  text-transform: uppercase;
  white-space: normal;
  color: white;
}
createPlaylistButtonDiv{
  text-align: center;
  text-justify: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.25em;
}
.filterButtonDiv {
  width: 217px;
  text-align: center;
  text-justify: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.filteredTracks{
    width: 100%;
    min-height: 78vh;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    grid-gap: 1rem;
}
.card{
  max-width: 300px;  
  min-width: 250px;
  border-radius: 20px;
  min-height: 400px;
}
.front {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.image{
  /* background-image:url('https://f4.bcbits.com/img/a0042959868_10.jpg'); */
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75%;
  border-radius: 10px 10px 0 0;
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.info{
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2
  /* box-shadow: 0px -7px 6px #1c1c1cb3; */
}
.date{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.date p {
  padding-left: 2%;
  font-weight: 300;
  font-size: 15px;
}
.extra_info{
  height: 0;
  overflow: hidden;
  transition: height .3s ease;
}
.extra_info p {
  font-size: 15 px;
  font-weight: 300;
  font-style: italic;
}
.card:hover .extra_info{
  height: 70px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title{

}
.artist{
  font-size: 15px;
}
.album{
  font-size: 15px;
  font-weight: 300;
}
