/* *{
    outline: 1px solid red; 
} */
*{
    color:black;
}
.filterPanel{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.filterSettings{
    background-color: red;
    width: 100%;
}
.filteredTracks{
    width: 100%;
    min-height: 78vh;

}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 1rem;
    grid-gap: 1rem;
}
.card{
  height: 40vh;
  max-width: 300px;  
  border-radius: 20px;
}
.front {
  background-color: white;
  background-image:url('https://f4.bcbits.com/img/a0042959868_10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 20px;

}
.card:hover .back{
  opacity: 1;
  transition: .3s ease-in;
}
.back{
  transition: .3s ease-in-out;
  background-image:url('https://f4.bcbits.com/img/a0042959868_10.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 0;
  position: relative;
  top: -100%; 
  border-radius: 20px;
}
.imageWindow-min{
  width: 100%;
  height: 60%;
}
.info-max{
  width: 100%;
  height: 40%;
  background-color: white;
  border-radius: 20px;
}
.imageWindow-max{
  width: 100%;
  height: 70%;
}
.info-min{
  width: 100%;
  height: 30%;
  background-color: white;
  border-radius: 20px;
}
