/* *{
    outline: 1px solid red; 
} */
*{
    color:black;
}
.mat-select {
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  padding: 10px;
}
.heading{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ignorePlaylist{
  display: flex;
  flex-direction: row;
}
h1{
  color: white; 
}
.filterPanel{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.dateInput{
  border: 1px solid #c8c8c8;
  padding: 0px 10px 0px 17px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  margin-right: 1%;
}
#toPicker {
  border-radius: 20px!important;
}
.mat-datepicker-content{
  border-radius: 20px!important;
}
.dateInput input {
  appearance: none;
  outline: none;
  background-color: transparent;
  color: black;
  border: none;
  /* border: 1px solid grey; */
  /* padding: 10px 0px 10px 10px; */
  /* border-radius: 20px; */
}
input::placeholder{
  color: black;
}
mat-datepicker-toggle {
  color: #7d7d7d;
}
.filterSettings{
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  align-content: center;
  padding: 10px;
  }
.settingsWrap{
  background-color: white;
  border-radius: 10px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.settingsBox {
  /* margin-left: 2%;
  margin-right: 2%; */
}
.filterButton {
  background-color: #1db954;
  text-decoration: none;
  display: inline-block;
  /* margin: 0 .5% 0 .5%; */
  cursor: pointer;
  font-weight: 700; 
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 10px 16px;
  -webkit-transition-property: background-color,border-color,color,-webkit-box-shadow,-webkit-filter;
  transition-property: background-color,border-color,color,-webkit-box-shadow,-webkit-filter;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-property: background-color,border-color,color,box-shadow,filter,-webkit-box-shadow,-webkit-filter;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  border-width: 0;
  text-transform: uppercase;
  white-space: normal;
  color: white;
  min-height: 14px;
}
.createPlaylistButton{
  background-color: #1db954;
  text-decoration: none;
  display: inline-block;
  margin: 0 .5% 0 .5%;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  padding: 16px 10px 18px;
  transition-property: background-color,border-color,color,box-shadow,-webkit-filter;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-property: background-color,border-color,color,box-shadow,filter,-webkit-filter;
  transition-duration: .3s;
  border-width: 0;
  text-transform: uppercase;
  white-space: normal;
  color: white;
}
createPlaylistButtonDiv{
  text-align: center;
  text-justify: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1.25em;
}
.filterButtonDiv {
  width: 280px;
  text-align: center;
  text-justify: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}
.filteredTracks{
    width: 100%;
    min-height: 78vh;
}
.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    grid-gap: 1rem;
}
.card{
  width: 300px;
  border-radius: 20px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}
.front {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
}
.image{
  /* background-image:url('https://f4.bcbits.com/img/a0042959868_10.jpg'); */
  background-size:  cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.image img {
  width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
.info{
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2
  /* box-shadow: 0px -7px 6px #1c1c1cb3; */
}
.date{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.date p {
  padding-left: 2%;
  font-weight: 300;
  font-size: 15px;
}
.extra_info{
  height: 0;
  overflow: hidden;
  transition: height .3s ease;
  /* display: none; */
}
.extra_info p {
  font-size: 15 px;
  font-weight: 400;
  font-style: normal;
}
.card:hover .extra_info{
  height: 90px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.artist{
  font-size: 15px;
}
.album{
  font-size: 15px;
  font-weight: 300;
}
.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.dates {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;

}
@media only screen and (max-width:600px) {
  .filterSettings {
    flex-direction: column;
    align-items: center;
  }
  .filterButtonDiv{
    width: 150px;
  }

@media only screen and (max-width:1000px) {
  *{
    background-color: red;
  }
  .card-grid{
    grid-template-columns: repeat(auto-fit, minmax(227px, 1fr));
}
.card{
  width: 227px;
  min-height: 300px;
}
}
}
@media only screen and (max-width:1200px) {
  .dateInput input {
    width: 80px;
  }
  .filterButtonDiv{
    width: 150px;
  }
}
.hidden{
  display: none;
}
.extraSettings {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
}
.extraSettingsToggle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 5px;
}
.extraSettingsToggle i {
  color: #7d7d7d;
  cursor: pointer;
}
.extraSettingsToggle i:hover {
  color: #707070
}
.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: .25rem solid rgb(255, 255, 255,0);
  border-top-color: white;
  animation: spin 1s infinite linear;
  position: absolute;
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.disabled {
  background-color: grey;
}