<div class="wrapper">
    <div class="filterPanel">
        <!-- <h1>Hey {{user}}. Let's rediscover some tracks!</h1> -->

        <div class="filterSettings">
            <input type="date" [(ngModel)]="from">
            <input type="date" [(ngModel)]="to">
            <button (click)="filterByDate()">Get Tracks</button>
        </div>
        <div class="filteredTracks">

            <div class="card-grid">

                <!-- <div class="card slide-up" test="let track of playlistTracks">
                    <div class="card-container">
                        <div class="card-image" style="background-image: url('https://f4.bcbits.com/img/a1092278119_10.jpg')"></div>
                    </div>
                    <div class="mobile-title">
                        <div class="content">
                            <p class="title">Waves</p>
                            <p class="subtitle">Felly</p>
                        </div>
                    </div>
                    <div class="card-body content">
                        <p>test
                            erste sahne an test und filmmusik
                        </p>
                    </div>
                    <div class="card-footer content">
                        2 min. read 22 comments
                    </div>
                </div> -->
            </div>

        </div>
    </div>
</div>