<div class="wrapper">
  <div class="center-container">
    <div class="centerbox">
      <h1>Rediscover songs you loved.</h1>
      <h4>Select a timespan and discover what you added to your playlists at that time.</h4>
      <div class="button-row">
        <a class="btn btn-outline" pageScroll href="#aboutSection">
          What's this?
        </a>
        <a class="btn btn-green" href="{{url}}">Get started!</a>
      </div>
    </div>
  </div>
</div>

<div class="center-container">
  <div class="about" id="aboutSection">
    <div class="right">
      <div class="heading">
        <h2>Time travel for your playlists.</h2>
      </div>
      <div class="description">
        <p>Rediscovery for Spotify makes it easy for you to relive past memories by creating playlists with the tracks you added
          during that time.</p>
        <br>
        <p>Simply select a timeframe and get an instant collection of the songs you added to any of your playlists.</p>
        <br>
        <p>You could create a playlist with songs from your last vacation, of a special year in your life or anything else you
          want to get nostalgic about.</p>
      </div>
      <a class="btn btn-green" href="{{url}}">Get started!</a>
    </div>
    <div class="left">

    </div>
  </div>
  <div class="footer">
    <nav>
      <a href="https://lennart.cc">Lennart Becker © {{currentYear}}</a>
      <a href="https://github.com/lennartbecker">
        <img src="/assets/github.png" alt="" class="logo">
      </a>
    </nav>
  </div>
</div>
