
.btn-green {
    background-color:#1db954;
    color: #fff;
}
.btn-green:hover {
    background-color: #1ed760;
}
.btn{
    text-decoration: none;
    display: inline-block;
    margin: 0 .5% 0 .5%;
    cursor: pointer;
    font-weight: 700; 
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    padding: 16px 48px 18px;
    -webkit-transition-property: background-color,border-color,color,-webkit-box-shadow,-webkit-filter;
    transition-property: background-color,border-color,color,-webkit-box-shadow,-webkit-filter;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-property: background-color,border-color,color,box-shadow,filter,-webkit-box-shadow,-webkit-filter;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    border-width: 0;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    margin-top: 10px;
}
.btn-outline{
    border: 2px solid #1db954;
    color: #fff;
    background-color: transparent;
}
.btn-outline:hover{
    background-color: #1db954;
    color: white;
}
.flex-row{
    display: flex;
    flex-direction: row;
    margin-top: 30%
}
.centerbox {
    text-align: center;
    width: 100%;
}
h1{
    /* margin: .5em 0 .25em; */
    font-weight: 700;
    font-size: 2.5rem;
}
h4{
    margin: .5em 0 1em;
    font-size: 18px;
    font-weight: 400;
}
.about{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    justify-content: center;
    align-content: center;
    /* border-radius: 20px; */
}
.right{
    width: 50%;
    color: black;
    padding: 3%;
}
.heading {
    font-weight: 600;
    font-size: 27px;
}
.button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width:600px) {
    .button-row {
        display: flex;
        flex-direction: column-reverse;
    }
}