<div class="wrapper">
  <div class="center-container">
    <div class="centerbox">
      <h1>Rediscover songs you loved.</h1>
      <h4>Select a timespan and discover what you added to your playlists at that time.</h4>
      <div class="button-row">
        <a class="btn btn-outline">
          What's this?
        </a>
        <a class="btn btn-green" href="{{url}}">Get started!</a>
      </div>
    </div>
  </div>


</div>
<div class="center-container">
  <div class="about">
    <div class="right">
      <div class="heading">
        <p>Select a timespan and discover what you added to your playlists at that time.</p>
      </div>
      <div class="description">
        Just click on "Get Started" to log in with your spotify account.
      </div>
      <a class="btn btn-green" href="{{url}}">Get started!</a>
    </div>
  </div>
</div>
<div class="footer">
  <nav>
    <p>Lennart Becker © {{currentYear}}</p>
  </nav>
</div>