/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background: linear-gradient(to right, #8E54E9 , #4776E6);
    color: white;
}
*{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    outline: 0;
    padding: 0px;
}
.wrapper {
    width:95%;
    margin-left: auto;
    margin-right: auto;
    height:85vh;
} 
.center-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
} 